/* Base */
* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


/* Layout */
.message {
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    display: none;
}

.message.show {
    display: block;
}

.panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;

    padding: 0.5rem;
    font-size: 14px;
}

.panel .context {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.graph {
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    bottom: 0;
}

.graph svg {
    width: 100%;
    height: 100%;
}


/* Etc */
.message {
    text-align: center;
    color: #FFF;
    background-color: #007cfc;
}

.panel .query input {
    font-size: 14px;
    padding: 0.2rem 0.5rem;
}

svg .links {
    stroke-width: 1px;
}

svg .node {
    cursor: pointer;
}

svg .node .name {
    font-family: sans-serif;
    alignment-baseline: hanging;
    stroke: #FFF;
    stroke-width: 2px;
    paint-order: stroke;
}

svg .node circle {
    stroke-width: 2px;
    stroke: #FFF;
}

svg .node.active circle {
    stroke: #bafc6a;
}
svg .node.active text {
    stroke: #bafc6a;
}
