/* Base */
* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Layout */
.message {
    position: absolute;
    bottom: 0.5rem;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    display: none;
}

.message.show {
    display: block;
}

.query {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;

    padding: 1.5rem;
    font-size: 14px;
}

.actions {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.5rem;
}

.infobox {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    padding: 0.5rem;
}

.infobox h2, h3 {
    font-size: 1rem;
}
.infobox h3 {
    margin-bottom: 0;
}
.infobox .image {
    height: 10rem;
}

.infobox .item {
    display: none;
}
.infobox .item.show {
    display: block;
}
.infobox .item ul {
    list-style-type: none;
    margin-top: 0.2rem;
    padding: 0;
}

.graph {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.graph svg {
    width: 100%;
    height: 100%;
}


/* Etc */
.message {
    text-align: center;
    color: #FFF;
    background-color: #007cfc;
}

.infobox {
    background-color: rgba(255, 255, 255, 0.6);
}

.actions {
    background-color: rgba(255, 255, 255, 0.6);
}

.query input {
    font-size: 16px;
    padding: 0.2rem 0.5rem;
}

svg .links {
    stroke-width: 1px;
}

svg .node {
    cursor: pointer;
}

svg .node .name {
    font-family: sans-serif;
    alignment-baseline: hanging;
    stroke: #FFF;
    stroke-width: 2px;
    paint-order: stroke;
}

svg .node circle {
    stroke-width: 2px;
    stroke: #FFF;
}

svg .node.active circle {
    stroke: #bafc6a;
}
svg .node.active text {
    stroke: #bafc6a;
}
