---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


html {
  word-break: keep-all;
}

.page-content {
  h2 {
    margin-top: 2rem;
  }
}

article.post {
  img {
    max-width: 100%;
    box-shadow: 1px 1px 4px #888;
  }

  p > img:first-child {
    margin-top: 1.5rem;
  }

  p > img:last-child {
    margin-bottom: 1.5rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: #FFF;
    background-color: #007bff;
  }
  .btn:hover {
    background-color: #0066D2;
  }

  .btn a {
    color: #FFF;
  }
  .btn a:hover {
    text-decoration: none;
  }
}

.person {
  & > p > img {
    min-width: 4rem;
    min-height: 4rem;
    max-width: 100%;
    border: 1px solid #666;
  }
}
